NTClient/build
Robot/build
.vscode
NTClient/bin/
Robot/bin/
NTClient/.gradle/
Robot/.gradle/
Robot/.vscode/
NTClient/.vscode/
.wpilib
NTclient/.wpilib
Robot/.wpilib
NTClient/.settings
Robot/.settings
